@charset "utf-8";
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem6YaGs126MiZpBA-UFUJ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKWiUOhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-U1Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN7rg-VQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
button {
  outline: none;
}
.btn {
  border-radius: 8px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.btn-info {
  background-color: #071828 !important;
  color: #ffffff;
}
.btn-info:hover {
  color: #ffffff;
  background: #e52f7d !important;
}
.btn-info:active {
  color: #ffffff;
  background: #e52f7d !important;
}
.btn-info:focus {
  color: #ffffff;
  background: #e52f7d !important;
}
.btn-info:not([disabled]):not(.disabled).active,
.btn-info:not([disabled]):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
  background-color: #c81964 !important;
}
.btn-primary {
  border: none;
  color: #ffffff;
  background: linear-gradient(45deg, #f47c2c 0%, #e52f7d 50%) !important;
}
.btn-primary:hover {
  background: #f79a5c !important;
}
.btn-premium {
  border: none;
  color: #ffffff;
  background: linear-gradient(45deg, #f8ae58 0%, #e74e26 90%);
}
.btn-secondary {
  display: block;
  padding: 11px 14px;
  margin: 0px;
  border: none;
  color: #ffffff;
  background: #e52f7d !important;
}
.m-4 {
  margin: 1.5rem !important;
}
.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}
.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}
.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}
.m-5 {
  margin: 2rem !important;
}
.mt-5,
.my-5 {
  margin-top: 2rem !important;
}
.mr-5,
.mx-5 {
  margin-right: 2rem !important;
}
.mb-5,
.my-5 {
  margin-bottom: 2rem !important;
}
.ml-5,
.mx-5 {
  margin-left: 2rem !important;
}
.m-6 {
  margin: 2.5rem !important;
}
.mt-6,
.my-6 {
  margin-top: 2.5rem !important;
}
.mr-6,
.mx-6 {
  margin-right: 2.5rem !important;
}
.mb-6,
.my-6 {
  margin-bottom: 2.5rem !important;
}
.ml-6,
.mx-6 {
  margin-left: 2.5rem !important;
}
.m-7 {
  margin: 3rem !important;
}
.mt-7,
.my-7 {
  margin-top: 3rem !important;
}
.mr-7,
.mx-7 {
  margin-right: 3rem !important;
}
.mb-7,
.my-7 {
  margin-bottom: 3rem !important;
}
.ml-7,
.mx-7 {
  margin-left: 3rem !important;
}
.m-8 {
  margin: 3.5rem !important;
}
.mt-8,
.my-8 {
  margin-top: 3.5rem !important;
}
.mr-8,
.mx-8 {
  margin-right: 3.5rem !important;
}
.mb-8,
.my-8 {
  margin-bottom: 3.5rem !important;
}
.ml-8,
.mx-8 {
  margin-left: 3.5rem !important;
}
.m-9 {
  margin: 4rem !important;
}
.mt-9,
.my-9 {
  margin-top: 4rem !important;
}
.mr-9,
.mx-9 {
  margin-right: 4rem !important;
}
.mb-9,
.my-9 {
  margin-bottom: 4rem !important;
}
.ml-9,
.mx-9 {
  margin-left: 4rem !important;
}
.m-10 {
  margin: 4.5rem !important;
}
.mt-10,
.my-10 {
  margin-top: 4.5rem !important;
}
.mr-10,
.mx-10 {
  margin-right: 4.5rem !important;
}
.mb-10,
.my-10 {
  margin-bottom: 4.5rem !important;
}
.ml-10,
.mx-10 {
  margin-left: 4.5rem !important;
}
.m-11 {
  margin: 5rem !important;
}
.mt-11,
.my-11 {
  margin-top: 5rem !important;
}
.mr-11,
.mx-11 {
  margin-right: 5rem !important;
}
.mb-11,
.my-11 {
  margin-bottom: 5rem !important;
}
.ml-11,
.mx-11 {
  margin-left: 5rem !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0,
.py-0 {
  padding-top: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0,
.py-0 {
  padding-top: 0 !important;
}
.pr-0,
.px-0 {
  padding-right: 0 !important;
}
.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}
.pl-0,
.px-0 {
  padding-left: 0 !important;
}
.p-1 {
  padding: 0.25rem !important;
}
.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}
.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}
.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}
.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}
.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}
.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}
.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.pt-3,
.py-3 {
  padding-top: 1rem !important;
}
.pr-3,
.px-3 {
  padding-right: 1rem !important;
}
.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}
.pl-3,
.px-3 {
  padding-left: 1rem !important;
}
.p-4 {
  padding: 1.5rem !important;
}
.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}
.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}
.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}
.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}
.p-5 {
  padding: 2rem !important;
}
.pt-5,
.py-5 {
  padding-top: 2rem !important;
}
.pr-5,
.px-5 {
  padding-right: 2rem !important;
}
.pb-5,
.py-5 {
  padding-bottom: 2rem !important;
}
.pl-5,
.px-5 {
  padding-left: 2rem !important;
}
.p-6 {
  padding: 2.5rem !important;
}
.pt-6,
.py-6 {
  padding-top: 2.5rem !important;
}
.pr-6,
.px-6 {
  padding-right: 2.5rem !important;
}
.pb-6,
.py-6 {
  padding-bottom: 2.5rem !important;
}
.pl-6,
.px-6 {
  padding-left: 2.5rem !important;
}
.p-7 {
  padding: 3rem !important;
}
.pt-7,
.py-7 {
  padding-top: 3rem !important;
}
.pr-7,
.px-7 {
  padding-right: 3rem !important;
}
.pb-7,
.py-7 {
  padding-bottom: 3rem !important;
}
.pl-7,
.px-7 {
  padding-left: 3rem !important;
}
.p-8 {
  padding: 3.5rem !important;
}
.pt-8,
.py-8 {
  padding-top: 3.5rem !important;
}
.pr-8,
.px-8 {
  padding-right: 3.5rem !important;
}
.pb-8,
.py-8 {
  padding-bottom: 3.5rem !important;
}
.pl-8,
.px-8 {
  padding-left: 3.5rem !important;
}
.p-9 {
  padding: 4rem !important;
}
.pt-9,
.py-9 {
  padding-top: 4rem !important;
}
.pr-9,
.px-9 {
  padding-right: 4rem !important;
}
.pb-9,
.py-9 {
  padding-bottom: 4rem !important;
}
.pl-9,
.px-9 {
  padding-left: 4rem !important;
}
.p-10 {
  padding: 4.5rem !important;
}
.pt-10,
.py-10 {
  padding-top: 4.5rem !important;
}
.pr-10,
.px-10 {
  padding-right: 4.5rem !important;
}
.pb-10,
.py-10 {
  padding-bottom: 4.5rem !important;
}
.pl-10,
.px-10 {
  padding-left: 4.5rem !important;
}
.p-11 {
  padding: 5rem !important;
}
.pt-11,
.py-11 {
  padding-top: 5rem !important;
}
.pr-11,
.px-11 {
  padding-right: 5rem !important;
}
.pb-11,
.py-11 {
  padding-bottom: 5rem !important;
}
.pl-11,
.px-11 {
  padding-left: 5rem !important;
}
.m-n1 {
  margin: -0.25rem !important;
}
.mt-n1,
.my-n1 {
  margin-top: -0.25rem !important;
}
.mr-n1,
.mx-n1 {
  margin-right: -0.25rem !important;
}
.mb-n1,
.my-n1 {
  margin-bottom: -0.25rem !important;
}
.ml-n1,
.mx-n1 {
  margin-left: -0.25rem !important;
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
}
body {
  font-family: "Poppins", "Open Sans", "Helvetica Neue";
  background: #ffffff url("../images/bodybg.svg") 100% 0 no-repeat;
  background-attachment: fixed;
  width: 100%;
  color: #1f222a;
}
a:hover,
a:focus {
  color: #eb5c99;
}
header {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}
header .navbar-brand {
  opacity: 1;
  z-index: 999;
}
header .header-section {
  margin-bottom: 30px;
  width: 100%;
  opacity: 1;
  transition: all 0.3s;
  box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.15);
  background: #ffffff;
}
header .header-section .navbar {
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 80px;
}
header .header-section.aos-animate {
  height: 80px;
  width: 100%;
  position: fixed;
  background: #ffffff;
  box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.15);
  top: 0px;
  transition: all 0.3s;
  opacity: 1;
  z-index: 1990;
}
header .header-section.aos-animate .navbar {
  padding: 0;
}
header .header-section.aos-animate .navbar-brand {
  opacity: 1;
  padding: 0;
  margin-left: 20px;
}
header .header-section.aos-animate .navbar-brand img {
  max-width: 180px !important;
}
header .navbar-nav {
  align-items: center;
}
header .navbar-nav .btn {
  font-size: 14px;
  top: -4px;
}
header .navbar-brand img {
  max-width: 380px;
}
header a {
  text-transform: uppercase;
  color: #e52f7d;
  font-weight: bold;
  font-size: 14px;
  margin: 0 12px;
}
header a:hover {
  color: #f47c2c;
}
main {
  background-size: 100%;
  overflow: hidden;
  width: 100%;
}
h2 {
  font-size: 3em;
  font-weight: 500;
  color: #1f222a;
}
h3 {
  font-weight: bold;
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 20px;
}
.uppercase {
  text-transform: uppercase;
}
#flying {
  position: absolute;
  right: 0;
  top: 5em;
  animation: action 1s infinite alternate;
}
@keyframes action {
  0% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(10px);
  }
}
footer {
  background: #02080e !important;
  background: #071828;
  position: relative;
}
footer .container {
  position: relative;
  z-index: 56;
}
footer .containerfooter {
  z-index: 59;
  position: relative;
}
footer .btn-primary {
  background: #f47c2c !important;
  color: #1f222a !important;
}
footer .copyright {
  font-size: 14px;
  color: #ffffff;
  display: inherit;
  justify-content: center;
  width: 100%;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul li {
  color: #ffffff;
}
footer ul li a {
  color: #ffffff;
}
.navbar-toggler {
  padding: 0;
  z-index: 199990;
  right: 2%;
  position: absolute;
}
.navbar-toggler #nav-icon {
  width: 40px;
  height: 50px;
  position: relative;
  margin: 10px auto;
  transform: rotate(0deg);
  cursor: pointer;
}
.navbar-toggler #nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 20px;
  border-radius: 10%;
  background: #e52f7d;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(1) {
  top: 0px;
}
.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(2) {
  top: 9px;
}
.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(3) {
  top: 18px;
}
.navbar-toggler[aria-expanded="true"] #nav-icon span {
  background: #ffffff !important;
}
.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(1) {
  transform: rotate(45deg);
  top: 6px;
}
.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(3) {
  transform: rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(3) {
  left: 0px;
  top: 6px;
}
.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(2) {
  width: 0px;
  opacity: 0;
}
.one {
  background: url("../images/amsterdam.svg") 100% 0 no-repeat;
  background-size: 80vmin;
  min-height: 50vh;
  width: 100%;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}
.one .message {
  align-self: center;
}
.slick-slide:first-child {
  background: url("../images/topleftbg.svg") 0 0 no-repeat;
  background-size: 100vmin;
  min-height: 100vh;
}
#circles {
  /*animation: circleScale 2s ease-in infinite;*/
  z-index: 10;
}
@keyframes circleScale {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
main {
  overflow: hidden;
  width: 100%;
}
.citydiv {
  /* clip-path: url(#citymask);*/
  position: relative;
  top: 0px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  height: 100vh;
  align-items: flex-start;
}
.city {
  position: absolute;
  top: 0px;
  max-width: unset !important;
  width: 200vmin;
  left: 50%;
  margin-left: -100vmin;
  height: 200vmin;
  top: 20vmin;
  -webkit-animation: cog2 24s infinite linear;
  -moz-animation: cog2 24s infinite linear;
  animation: cog2 24s infinite linear;
}
.buttonrow {
  display: flex;
  justify-content: center;
}
.buttonrow .btn {
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 20vmin;
}
#avatar1,
#avatar2,
#avatar3,
#avatar4,
#discover1_1_,
#discover2_1_,
#discover3_1_,
#discover4_1_,
#el1,
#el2,
#el3,
#el4 {
  display: block;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}
.section {
  height: 100vh;
}
@keyframes cog2 {
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes cog2 {
  100% {
    transform: rotate(-360deg);
  }
}
@-moz-keyframes cog2 {
  100% {
    transform: rotate(-360deg);
  }
}
img {
  max-width: 100% !important;
  height: auto;
}
.d-column {
  flex-direction: column;
}
.avatars {
  width: 100%;
  position: absolute;
  top: 10vmin;
  z-index: 1007;
}
.girl {
  margin-top: 5vmin;
  z-index: 1008;
  flex: 1 0 100%;
  /*transform: rotate(-25deg)*/
}
#circles {
  position: relative;
  right: 0;
  width: 30vmin;
  height: auto;
}
#circles #ellipse1,
#circles #ellispe2,
#circles #ellipse3 {
  display: block;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}
.connect {
  position: relative;
  background: url("../images/pinkbg.svg") 50% 50% no-repeat;
  background-size: contain;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.phone {
  position: relative;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 5vmin;
  overflow: hidden;
  order: 1;
  justify-content: center;
  width: 100%;
}
.message,
.maintext {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 62%;
  z-index: 1010;
  left: 0;
  order: 1;
}
.message strong,
.maintext strong {
  font-weight: 600;
}
.btn {
  display: inline-flex;
  flex: 1 1 100%;
  justify-content: center;
}
h2 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
.discover {
  position: relative;
}
.discover .bench {
  width: 100%;
  flex: 1 0 100%;
}
.circles2 {
  top: 0;
  position: absolute;
  flex: 0 0 80%;
  width: 80%;
  z-index: 3000;
}
.socialize {
  position: relative;
  background: url("../images/pinkbg2.svg") 70% 80% no-repeat;
  background-size: 50%;
  width: 100%;
}
.socialize .phone {
  align-items: center !important;
}
.feelhome {
  position: relative;
}
.feelhome .logobg {
  position: absolute;
  left: 0;
  display: block;
  top: 0;
  width: 50vmin;
  height: auto;
  padding-bottom: 100%;
  background: url("../images/logobg.svg") 0 0 no-repeat;
  background-size: contain;
}
.btn img {
  max-width: 60% !important;
  height: auto;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.circles3 {
  position: absolute;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
#navBar.show {
  top: 0;
  opacity: 1;
  left: 0;
  width: 100%;
  position: fixed;
  height: 100vh;
  background: #e52f7d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 199400;
}
#navBar.show .navbar-nav {
  margin-right: auto;
}
#navBar.show a {
  color: #ffffff;
  padding: 3vw 5vw;
  font-size: 8.5vmin;
}
.contact {
  background: #071828;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2vmax;
  align-text: center;
  margin-top: 60px;
}
.contact h2 {
  color: #ffffff;
}
.contact .form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.gadgets {
  position: absolute;
  width: 80%;
  left: 20%;
}
.contact {
  position: relative;
  z-index: 89999;
}
.form-control {
  color: #ffffff !important;
}
.md-form input:not([type]):focus:not([readonly]),
.md-form input[type=date]:not(.browser-default):focus:not([readonly]),
.md-form input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
.md-form input[type=datetime]:not(.browser-default):focus:not([readonly]),
.md-form input[type=email]:not(.browser-default):focus:not([readonly]),
.md-form input[type=number]:not(.browser-default):focus:not([readonly]),
.md-form input[type=password]:not(.browser-default):focus:not([readonly]),
.md-form input[type=search-md]:focus:not([readonly]),
.md-form input[type=search]:not(.browser-default):focus:not([readonly]),
.md-form input[type=tel]:not(.browser-default):focus:not([readonly]),
.md-form input[type=text]:not(.browser-default):focus:not([readonly]),
.md-form input[type=time]:not(.browser-default):focus:not([readonly]),
.md-form input[type=url]:not(.browser-default):focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
  border-bottom: solid 1px #e52f7d !important;
  outline: none !important;
  box-shadow: none !important;
}
.citydiv,
.phone {
  height: 50vh;
}
.slick-dots {
  position: fixed;
  bottom: unset;
  top: 55%;
  z-index: 4800;
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  transition: all 0.3s;
  transform: scale(1, 1);
}
.slick-dots li button:before {
  content: "";
}
.slick-dots li:not(.slick-active) button {
  transition: all 0.3s;
  transform: scale(0.7, 0.7);
  background: #ffffff;
}
.slick-dots li.slick-active button {
  transition: all 0.3s;
  transform: scale(1.2, 1.2);
  background: #e52f7d;
}
.bgcircle {
  display: none;
}
#thanks {
  display: none;
  color: #e52f7d;
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
}
#thanks img {
  max-width: 100px !important;
}
a {
  color: #e52f7d;
  font-weight: 500;
}
.screenshot {
  display: none !important;
}
@media (min-width: 767px) {
  .cityinside {
    display: flex;
    position: fixed;
    width: 110vmin;
    height: 110vmin;
    left: -20%;
    bottom: -50vh;
  }
  .bgcircle {
    display: flex;
    position: fixed;
    width: 110vmin;
    height: 110vmin;
    right: -20%;
    top: -50vh;
  }
  .girl {
    top: unset;
    margin-top: 15vmin;
    z-index: 1008;
    flex: 0 0 55%;
    transform: rotate(-25deg);
  }
  .discover .screenshot {
    z-index: 4500;
  }
  main {
    position: relative;
  }
  .bgcircle2 {
    position: absolute;
    width: 150vmin;
    height: 150vmin;
  }
  .circles3 {
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    z-index: 5000;
  }
  .feelhome .girl {
    bottom: -100px;
  }
  .gadgets {
    position: absolute;
    width: 60%;
    left: 10%;
    top: -14%;
    flex: 0 0 60%;
  }
  .buttonrow {
    flex-wrap: nowrap;
  }
  .container-80 {
    width: 80%;
    max-width: 80% !important;
    display: flex;
    align-items: center;
  }
  h2 {
    font-size: 42px;
  }
  h4 {
    font-size: 28px;
  }
  .citydiv {
    height: unset;
  }
  .maintext,
  .message {
    display: flex;
    align-items: center !important;
    flex-direction: column;
    top: unset;
    position: relative !important;
  }
  header {
    z-index: 999999;
  }
  .avatars {
    width: 60%;
  }
  .city {
    position: fixed;
    top: 20vmin;
    left: -10%;
    margin-left: 0;
  }
  section:focus {
    outline: none !important;
  }
  .screenshot {
    display: block !important;
    position: absolute;
    right: 0;
    top: 0;
  }
  .message {
    order: unset;
  }
  .phone {
    order: unset;
    overflow: unset;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin-top: 0;
  }
  .socialize .screenshot {
    right: -50px;
  }
  .coffee {
    margin-left: 0;
    flex: 0 0 60%;
  }
  .boy {
    flex: 0 0 85%;
  }
  .contact {
    margin-top: -60px;
  }
  .feelhome .girl {
    transform: unset;
    flex: 0 0 80%;
  }
  .discover .bench {
    margin-left: 30%;
    flex: 0 0 65%;
  }
  .discover .screenshot {
    right: unset;
    left: 0;
  }
  .circles2 {
    width: 50%;
    left: 45%;
    z-index: 4600;
  }
}
#contactsection {
  padding-top: 100px;
  margin-top: -100px;
}
#connect {
  padding-top: 100px;
  margin-top: -100px;
}
footer a {
  color: #ffffff;
}
footer a:hover {
  color: #eb5c99;
}
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #f47c2c !important;
}
.arrowtop {
  background-color: #e52f7d;
  color: #fff;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  position: absolute;
  left: 50%;
  margin-left: -28px;
  z-index: 999999;
  top: -10px;
}
@media (min-width: 767px) and (max-width: 991px) {
  main section {
    height: unset;
    padding-bottom: 4em;
  }
  .phone {
    min-height: unset;
    height: unset;
  }
  .message,
  .maintext {
    margin-top: 4em;
    position: relative;
    justify-content: center;
    align-items: center;
    order: 2;
    top: unset;
  }
  .navbar-brand-fixed {
    display: none;
  }
  .navbar-brand {
    opacity: 1;
  }
}
@media (min-width: 767px) and (max-width: 1280px) {
  .girl {
    top: unset;
    margin-top: 5vmin;
    z-index: 1008;
    flex: 0 0 75%;
    transform: rotate(-25deg);
  }
  .avatars {
    width: 80%;
  }
  .discover .bench {
    margin-left: 40%;
    flex: 0 0 70%;
  }
  .phone {
    min-height: 80vh;
  }
}
.navbar-brand-fixed {
  display: none;
}
@media (max-width: 767px) {
  .boy {
    flex: 0 0 100%;
  }
  /* html, body {
        overflow: hidden;

        
    }*/
  main section {
    height: 100vh !important;
    overflow: hidden;
  }
  .btn img {
    max-width: 40% !important;
    height: auto;
  }
}
.navbar-brand {
  top: -10px;
}
@media (max-width: 767px) and (max-height: 720px) and (orientation: portrait) {
  .socialize {
    position: relative;
    background: url(../images/pinkbg2.svg) 60% 30% no-repeat;
    background-size: 80%;
    width: 100%;
  }
  .phone,
  .citydiv {
    height: 40vh;
    margin-top: 50px;
  }
  .coffee {
    flex: 0 0 100%;
  }
  .boy {
    flex: 0 0 70%;
  }
  .bench {
    flex: 0 0 80%;
  }
  .girl {
    margin-top: unset;
    flex: 0 0 80%;
  }
  .message,
  .maintext {
    top: 60%;
  }
  .slick-dots {
    top: 52%;
  }
  h2 {
    font-size: 2em;
  }
  .buttonrow {
    width: 100%;
    flex-wrap: wrap;
  }
  .navbar-brand-fixed {
    display: none;
  }
  .navbar-brand {
    opacity: 1;
  }
}
@media (max-width: 767px) and (min-height: 721px) {
  .buttonrow {
    flex-wrap: wrap;
  }
  .phone,
  .citydiv {
    height: 50vh;
  }
  .slick-dots {
    top: 51vh;
  }
  .navbar-brand-fixed {
    display: flex;
    position: fixed;
    top: 55vh;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    z-index: 79999;
  }
  .navbar-brand {
    display: none;
  }
  .socialize {
    position: relative;
    background: url(../images/pinkbg2.svg) 60% 30% no-repeat;
    background-size: 80%;
    width: 100%;
  }
  .message {
    top: unset;
    top: 63vh;
    left: 0;
    position: absolute !important;
    align-items: center !important;
    justify-content: flex-start !important;
  }
  .maintext {
    align-items: center !important;
    justify-content: flex-start !important;
    top: 63vh;
  }
  h2 {
    font-size: 28px !important;
  }
  h4 {
    font-size: 18px;
  }
}
@media (max-width: 1280px) and (orientation: landscape) {
  .navbar-brand .img {
    max-width: 200px !important;
  }
}
.md-form label.error.active {
  position: relative !important;
  transform: unset !important;
  bottom: 10px;
  color: #e52f7d !important;
}
.md-form label.error {
  position: relative !important;
  transform: unset !important;
  bottom: 10px;
  color: #e52f7d !important;
}
.md-form input:not([type]):focus:not([readonly]) + label,
.md-form input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type="url"]:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type="time"]:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type="date"]:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type="datetime-local"]:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type="tel"]:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type="number"]:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type="search"]:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type="search-md"]:focus:not([readonly]) + label,
.md-form textarea.md-textarea:focus:not([readonly]) + label {
  color: #e52f7d;
}
.md-form input:not([type]).valid,
.md-form input:not([type]):focus.valid,
.md-form input[type=date]:not(.browser-default).valid,
.md-form input[type=date]:not(.browser-default):focus.valid,
.md-form input[type=datetime-local]:not(.browser-default).valid,
.md-form input[type=datetime-local]:not(.browser-default):focus.valid,
.md-form input[type=datetime]:not(.browser-default).valid,
.md-form input[type=datetime]:not(.browser-default):focus.valid,
.md-form input[type=email]:not(.browser-default).valid,
.md-form input[type=email]:not(.browser-default):focus.valid,
.md-form input[type=number]:not(.browser-default).valid,
.md-form input[type=number]:not(.browser-default):focus.valid,
.md-form input[type=password]:not(.browser-default).valid,
.md-form input[type=password]:not(.browser-default):focus.valid,
.md-form input[type=search-md].valid,
.md-form input[type=search-md]:focus.valid,
.md-form input[type=search]:not(.browser-default).valid,
.md-form input[type=search]:not(.browser-default):focus.valid,
.md-form input[type=tel]:not(.browser-default).valid,
.md-form input[type=tel]:not(.browser-default):focus.valid,
.md-form input[type=text]:not(.browser-default).valid,
.md-form input[type=text]:not(.browser-default):focus.valid,
.md-form input[type=time]:not(.browser-default).valid,
.md-form input[type=time]:not(.browser-default):focus.valid,
.md-form input[type=url]:not(.browser-default).valid,
.md-form input[type=url]:not(.browser-default):focus.valid,
.md-form textarea.md-textarea.valid,
.md-form textarea.md-textarea:focus.valid {
  border-bottom: 1px solid yellow;
  -webkit-box-shadow: 0 1px 0 0 yellow;
  box-shadow: 0 1px 0 0 yellow;
}
@media (min-width: 1440px) {
  .avatars {
    top: 0;
    margin-top: -200px;
  }
  .girl {
    margin-top: -100px;
    z-index: 1008;
    flex: 0 0 55%;
    transform: rotate(-25deg);
  }
  .buttonrow {
    margin-top: 2em;
  }
  header .navbar-brand {
    top: -4px;
  }
  header .navbar-brand img {
    max-width: 180px !important;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
input:-internal-autofill-selected {
  background-color: yellow !important;
}
#screenshot1 {
  background: url("../images/screenshotbg.png") 0 0 no-repeat;
  background-size: 100%;
  flex: 0 0 80%;
  padding: 15% 7%;
}
#screenshot2,
#screenshot4 {
  background: url("../images/screenshotbg2.png") 0 0 no-repeat;
  background-size: 100%;
  flex: 0 0 80%;
  padding: 15% 8%;
}
.screenshots {
  background: #f47c2c;
}
.screenshots h2 {
  color: #ffffff;
}
.screenshots h4 {
  color: #ffffff;
}
.align-self-center {
  align-self: center;
}
.clients {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logobox {
  display: inline-flex;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 30px;
  width: 100%;
  min-width: 92px;
  min-height: 92px;
  flex: 1;
  margin: 2px;
  align-items: center;
  justify-content: center;
}
